.btn-wide,.viewmore-btn{text-align:center;box-shadow:0 4px 7px rgba(0,0,0,.15)}:root{--basecolor:#1363ab;--basebgcolor:#FFE8E8;--textcolor:#333333;--backgroundcolor:rgba(93, 122, 166, 0.05);--backgroundaccentcolor:rgba(255, 232, 232, 1);--gradient:linear-gradient(79.7deg, rgba(76, 131, 255, 1) 8.2%, rgba(42, 250, 233, 1) 84.9%);--myfont:"Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;--myw:1120px;--content-padding-side:80px;--content-padding-side-sp:15px 30px;--break-point:767px}@font-face{font-family:NotoSansJP-Regular;src:url(../css/fonts/NotoSansJP-Regular.otf)}@font-face{font-family:NotoSansJP-Medium;src:url(../css/fonts/NotoSansJP-Medium.otf)}@font-face{font-family:NotoSansJP-Bold;src:url(../css/fonts/NotoSansJP-Bold.otf)}@font-face{font-family:DIN-Regular;src:url(../css/fonts/DIN-Regular.ttf)}@font-face{font-family:DIN-Medium;src:url(../css/fonts/DIN-Medium.ttf)}@font-face{font-family:DIN-Bold;src:url(../css/fonts/DIN-Bold.ttf)}*{font-family:var(--myfont);-webkit-appearance:none;-webkit-text-size-adjust:100%}html{overflow:auto}a,h1,h2,h3,h4,h5,h6,li,p{color:#333}.ddback{position:relative;top:30%}.preloader{position:fixed;top:0;left:0;width:100%;height:100%;background:#eee;z-index:99999;opacity:.8}.loader{width:60px;height:60px;margin:20px auto;position:relative}.loader .loader-inner{width:100%;height:100%;position:absolute;top:0;left:0}.loader .loader-inner:before{content:"";display:block;width:14%;height:14%;border-radius:100%;background:linear-gradient(to left,#8eceed,#4cb1e2);margin:0 auto;animation:1.2s ease-in-out infinite both loading-1}.loader .box-2{transform:rotate(30deg)}.loader .box-3{transform:rotate(60deg)}.loader .box-4{transform:rotate(90deg)}.loader .box-5{transform:rotate(120deg)}.loader .box-6{transform:rotate(150deg)}.loader .box-7{transform:rotate(180deg)}.loader .box-8{transform:rotate(210deg)}.loader .box-9{transform:rotate(240deg)}.loader .box-10{transform:rotate(270deg)}.loader .box-11{transform:rotate(300deg)}.loader .box-12{transform:rotate(330deg)}.mv_textarea .entxt,.mv_textarea .jptxt{transform:translateY(15%);transition:.6s;opacity:1;color:#fff}.loader .box-2:before{animation-delay:-1.1s}.loader .box-3:before{animation-delay:-1s}.loader .box-4:before{animation-delay:-.9s}.loader .box-5:before{animation-delay:-.8s}.loader .box-6:before{animation-delay:-.7s}.loader .box-7:before{animation-delay:-.6s}.loader .box-8:before{animation-delay:-.5s}.loader .box-9:before{animation-delay:-.4s}.loader .box-10:before{animation-delay:-.3s}.loader .box-11:before{animation-delay:-.2s}.loader .box-12:before{animation-delay:-.1s}@keyframes loading-1{0%,100%,39%{opacity:0}40%{opacity:1}}.overflow-body{overflow-x:hidden}.mycontents-wide{max-width:calc(var(--myw) + var(--content-padding-side) * 2);padding:0 var(--content-padding-side);margin:0 auto}.exp-menu-list .item,.menu-list .item{width:100%;text-align:center;height:125px;display:flex;flex-direction:column;align-items:center;justify-content:center;background-color:#fff;cursor:pointer;border-radius:3px}.exp-menu-list .menu-box,.menu-list .menu-box{grid-gap:10px;display:grid;grid-template-columns:repeat(auto-fit,minmax(100px,1fr))}.exp-menu-list .item:hover,.menu-list .item:hover{background-color:#f0f1f7;transform:scale(1.1)}.menu-list .icon{padding:10px;border-radius:50%;background-color:#69ccd3;color:#fff}.exp-menu-list .text,.menu-list .text{display:inline-flex;flex-direction:column}.menu-list .text img{width:150px;height:70px;object-fit:cover;margin:auto}.mission .text h4,.mv_textarea .entxt,.work-text__about p{margin-bottom:10px}.menu-list{background-color:#d8dee4;padding:100px 28%}.mv_textarea .jptxt{font-family:NotoSansJP-Bold;font-size:13px;letter-spacing:.08em}.mv_textarea .entxt{display:block;font-size:40px;letter-spacing:.1em;text-transform:uppercase;font-family:DIN-Bold;font-weight:700}.mv_textarea{background-color:#12355d;padding:140px 10% 70px}.scroll__arrow,.scroll__arrow__box,.viewmore-btn:hover .viewmore-btn__img{background-color:var(--textcolor)}.scroll__text{margin-bottom:5px;font-weight:700;font-size:12px;line-height:18px;letter-spacing:.15em;text-align:center}.content-subtitle,.content-title,.subcontent-title{font-weight:700;letter-spacing:.05em}.scroll__arrow{position:relative;margin:0 auto;display:block;width:1px;height:70px}.scroll__arrow__box{position:absolute;display:inline-block;width:5px;height:5px;top:0;left:-2px}.content-title{font-size:48px;line-height:72px;margin-bottom:30px}.content-title::after{margin-top:4px;content:"";display:block;width:50px;height:6px;background-color:var(--basecolor)}.content-subtitle{font-size:24px;line-height:36px}.content-text{max-width:500px;font-weight:700;font-size:16px;line-height:24px}.subcontent-title{position:relative;margin-bottom:60px;padding-left:20px;font-size:32px;line-height:48px}.subcontent-title::before{content:"";position:absolute;left:0;top:6px;height:36px;width:6px;background-color:var(--basecolor)}.viewmore-btn{position:relative;display:block;width:240px;height:58px;line-height:58px;font-weight:700;font-size:16px;letter-spacing:.1em;color:#fff;background:var(--textcolor);border-radius:5px;transition:1s}.viewmore-btn__img{position:absolute;display:inline-block;right:10px;top:8px;height:40px;width:40px;background-color:#fff;border-radius:20px;transition:1s}.viewmore-btn__img img:first-child{position:absolute;top:16px;left:11px;transition:1s}.viewmore-btn__img img:last-child{position:absolute;top:16px;left:11px;opacity:0;transition:1s}.viewmore-btn:hover{opacity:.6}.viewmore-btn:hover .viewmore-btn__img img:first-child{opacity:0}.btn-wide__imgs img:first-child,.viewmore-btn:hover .viewmore-btn__img img:last-child{opacity:1}.viewmore-btn_right{margin:0 0 0 auto}.viewmore-btn_center{margin:0 auto}.btn-wide{display:block;padding-top:12px;width:250px;height:70px;color:#000;background:#fff;border-radius:12px;transition:1s;margin:auto;border:2px solid #fff}.btn-wide__imgs{position:relative;height:20px;width:20px;margin:0 auto 4px}.btn-wide__img{position:absolute;top:0;left:0;width:20px;height:20px;transition:1s}.btn-black,.h-contact,.mediakit .kit,.mediakit .kit a{position:relative}.btn-wide__text{transition:1s;font-size:14px;line-height:21px;text-align:center;color:#000}.btn-black,.h-contact.layout-02 .layout-btn a{height:60px;line-height:60px;text-align:center}.btn-black,.btn-wide:hover .btn-wide__text{color:#fff}.btn-wide:hover .btn-wide__imgs img:first-child,.btn-wide__imgs img:nth-child(2){opacity:0}.btn-wide:hover{color:#fff;background:0 0;border:2px solid #fff;transition:1s}.btn-wide:hover .btn-wide__imgs img:nth-child(2){opacity:1}.br-sp,.wpcf7c-hide{display:none}.mediakit .kit.kit-slim{max-width:300px}.mediakit .kit a{display:inline-block;border:5px solid #eee}.mediakit .kit a img{max-width:100%;width:100%}.mediakit .kit{margin-bottom:30px;max-width:580px}.mediakit .kit::before{content:'';position:absolute;right:10px;bottom:10px;width:30px;height:30px;border-radius:3px;background-color:rgba(50,50,50,.6);background-image:url('/public/assets/img/icon-dl.png');background-repeat:no-repeat;background-position:center center;background-size:17px 17px;z-index:99}.Intro_idenbrid_h2 span,.mediakit h2 span{display:block!important;margin-bottom:10px;font-size:13px;letter-spacing:2px}.mediakit h5{display:inline-block;padding:5px 15px;font-weight:700;font-size:16px;background:#eee;border-radius:30px;margin-bottom:30px}.btn-black{background:linear-gradient(120deg,#383a40,#141517);display:block;width:300px;font-size:14px;font-weight:600;border-radius:30px;justify-content:center;display:flex;align-items:center;margin:auto}.digital-subcontents__text{font-weight:700;font-size:16px;line-height:24px;width:calc((100% - 415px)/ 1);text-align:center;margin:auto}.h-contact.layout-02 .layout-btn a{display:flex;max-width:410px;background:no-repeat padding-box #fff;border-radius:30px;transition:.3s;margin:0 auto 15px;color:#ffa600;text-decoration:none;align-items:center;justify-content:center}.h-contact.layout-02 .layout-btn a.download_btn{background-color:#313668;color:#fff;margin-bottom:0}.h-contact.layout-02 .layout-btn a.download_btn svg .a,.h-contact.layout-02 .layout-btn a:hover svg .a{fill:#FFF}.h-contact.layout-02 .layout-btn a svg{display:inline-block;vertical-align:-6px;margin-right:10px}.h-contact.layout-02 .layout-btn a.download_btn svg,a.download_btn_ct svg{vertical-align:-10px}.h-contact.layout-02 .h-contact-desc p{color:#fff;font-size:40px;line-height:84px;font-weight:700}.h-contact.layout-02 .h-contact-desc p:first-child{font-size:95px;line-height:122px;margin-bottom:0}.h-contact.layout-02 .h-contact-desc p strong{font-weight:900}.h-contact.layout-02 .layout-btn a:hover{color:#fff;background:#313668}.h-contact.layout-02 .layout-btn a.download_btn:hover{color:#ffa600;background:#fff}.h-contact.layout-02 .layout-btn a svg .a,.h-contact.layout-02 .layout-btn a.download_btn:hover svg .a{fill:#FFA600}.h-contact-desc h3{color:#fff;font-size:30px;line-height:40px;max-width:920px;margin:0 auto 10px}.h-contact-desc p{max-width:750px;margin:0 auto 40px;color:#231f20;font-weight:600;line-height:25px;font-size:16px}.contact-btn{max-width:410px;margin:0 auto}.h-contact{padding:78px 0 72px;background-attachment:fixed!important;z-index:0;text-align:center;background:no-repeat padding-box #ffa600}.wpcf7c-force-hide{display:none!important}.wpcf7c-conf{background-color:#999;color:#000;border:1px solid #333}.mission{display:flex;max-width:1500px;margin:0 auto}.mission-container{position:relative;display:flex;flex-direction:column;justify-content:center;width:100%}.mission-container .text{background-color:#fff;max-width:700px;padding:0 20px}.mission .text{letter-spacing:2px;font-weight:600}.Intro_idenbrid_h2{font-size:42px;text-align:center}.mission .text h4{font-weight:600;font-size:1.8em;line-height:1.3em;letter-spacing:0}.text p{line-height:1.6rem}.exp-menu-list{background-color:#d8dee4;padding:100px 24%}.exp-menu-list .text img{width:60px;height:70px;object-fit:contain;margin:auto}@media screen and (min-width:768px){.mission-container{flex-direction:row}.idenbrid-background{height:auto;max-width:573px}}.button-icon{position:absolute;top:50%;right:30px;font-size:15px;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}.flow{margin-bottom:120px}.content-subtitle_flow{margin-bottom:60px}.flow__contents{display:flex;justify-content:space-between}.flow__list{position:relative;width:25%;text-align:center}.flow__list_border::after{content:"";position:absolute;width:calc((50% - 33px) * 2);height:10px;top:173px;left:calc(50% + 33px);background-image:url(../../img/icon/flow-line.svg);background-repeat:no-repeat;background-size:contain}.flow__list__thumbnail{width:140px;margin-bottom:20px}.flow__list__title{max-width:210px;margin:0 auto 9px;font-weight:700;font-size:16px;line-height:26px}.flow__list__text{max-width:210px;margin:0 auto;font-weight:500;font-size:14px;line-height:21px}@media (max-width:1160px){.flow__scroll{width:100%;padding:0;overflow-x:scroll}.flow__contents{padding-left:var(--content-padding-side);width:calc(210px * 4 + 93px * 3 + 80px)}.flow__list{width:210px}.flow__list_border{margin-right:93px}.flow__list_border::after{width:calc((50% - 33px) * 2 + 93px)}}@media (max-width:767px){.mycontents-wide{padding:0 var(--content-padding-side-sp)}.subcontent-title{font-size:20px}.content-title{font-size:24px;line-height:36px;margin-bottom:20px}.content-title::after{margin-top:5px;width:30px;height:5px}.content-subtitle{font-size:15px;line-height:23px}.content-text{max-width:inherit;font-weight:500;font-size:13px;line-height:20px}.subcontents-title{font-size:24px;line-height:36px}.subcontents-title::before{top:3px;height:30px;width:5px;margin-bottom:20px}.viewmore-btn{font-size:14px}.br-sp{display:block}.br-pc{display:none}.digital-subcontents__text{width:95%}.mv_textarea{padding:50px 5%}.flow{margin-bottom:60px}.content-subtitle_flow{margin-bottom:50px;font-weight:700;font-size:14px;line-height:22px}.flow__contents{padding-left:var(--content-padding-side-sp);width:calc(200px * 4 + 26px * 3 + 30px)}.flow__list{width:200px}.flow__list_border{margin-right:26px}.flow__list_border::after{width:calc((50% - 33px) * 2 + 26px)}.flow__list__title{font-size:16px;line-height:25px}.flow__list__text{font-size:13px;line-height:19px}}.branding--contact{background-image:url(/assets/img/bottom-banner-background-image.png);background-size:cover;background-repeat:no-repeat;background-position:0 0}@media screen and (min-width:897px){.branding--contact{padding:180px 0}.branding--contact h3{text-align:center;font-size:40px}}.branding--contact h3{letter-spacing:.1em;line-height:1.85;color:#dadada;font-weight:600}@media screen and (max-width:896px){.mv_textarea .entxt{margin-bottom:11px;font-size:28px}.branding--contact{padding:100px 5%}.branding--contact h3{font-size:20px}}.branding--contact p{font-size:1.4rem;line-height:2;letter-spacing:.04em;color:#dadada}@media screen and (min-width:897px){.branding--contact p{text-align:center;margin-top:42px}.branding--contact .contactbtn:hover{background-color:#fdfdfd;color:#000}}@media screen and (max-width:896px){.branding--contact p{margin-top:32px}}.branding--contact .contactbtn{display:block;width:260px;padding:22px 0;margin:50px auto 0;border:1px solid #fdfdfd;font-size:16px;font-weight:700;letter-spacing:.1em;color:#fdfdfd;text-align:center;transition:.4s}


    /* portfolio css start  */



    .single-services {
        margin-bottom: 30px;
        transition: .6s
    }

    .single-services .services-image {
        position: relative;
        overflow: hidden
    }

    .single-services .services-image img {
        border-radius: 10px 10px 0 0;
        transition: .6s;
        width: 100%;
        height: 250px;
        object-fit: cover;

    }

    .single-services .services-image .icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        transition: .6s
    }

    .single-services .services-image .icon a i {
        display: inline-block;
        height: 75px;
        width: 75px;
        line-height: 75px;
        background-color: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        color: #06a3da;
        font-size: 45px;
        text-align: center;
        border-radius: 50px;
        transition: .6s
    }

    .single-services .services-content {
        background-color: #fff;
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
        padding: 30px;
        border-bottom: 1px solid #06a3da;
        border-radius: 0 0 10px 10px;
        transition: .6s;
        height: 200px;
        }

    .single-services .services-content h3 {
        font-size: 25px;
        margin-bottom: 12px;
        font-weight: 500
    }

    .single-services .services-content h3 a {
        color: #222
    }

    .single-services .services-content p {
        font-size: 15px;
        transition: .6s
    }

    .single-services:hover {
        transform: translateY(-10px)
    }

    .single-services:hover .services-image img {
        transform: rotate(2deg) scale(1.2)
    }

    .single-services:hover .services-image .icon i {
        background-color: #06a3da;
        color: #fff
    }

    .single-services:hover .services-content {
        background-color: #06a3da
    }

    .single-services:hover .services-content h3 a,
    .single-services:hover .services-content p {
        color: #fff
    }

    .single-services-box {
        margin-bottom: 30px;
        background-color: #fff;
        box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
        padding: 30px;
        border-radius: 10px;
        transition: .6s
    }

    .single-services-box .icon {
        margin-bottom: 25px
    }

    .single-services-box .icon i {
        display: inline-block;
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 45px;
        background-color: #06a3da;
        color: #fff;
        text-align: center;
        border-radius: 15px
    }

    .single-services-box h3 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 15px
    }

    .single-services-box h3 a {
        color: #222
    }

    .single-services-box h3 a:hover {
        color: #06a3da
    }

    .single-services-box p {
        font-size: 15px;
        margin-bottom: 20px
    }

    .single-services-box .services-btn {
        display: inline-block;
        background-color: transparent;
        border: 1px solid #06a3da;
        color: #06a3da;
        padding: 15px 35px;
        font-size: 15px;
        font-weight: 500;
        transition: .6s;
        border-radius: 5px
    }

    .single-services-box .services-btn:hover {
        background-color: #06a3da;
        color: #fff
    }

    .single-services-box:hover {
        transform: translateY(-10px)
    }

    .single-services-box:hover .icon i {
        -webkit-animation: bounce 1s;
        animation: bounce 1s
    }

    .single-services-item {
        margin-bottom: 30px;
        transition: .6s;
        background-color: #fff;
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
        padding: 10px;
        padding-bottom: 0;
        border-radius: 10px
    }

    .single-services-item .services-image {
        position: relative;
        overflow: hidden
    }

    .single-services-item .services-image img {
        border-radius: 10px;
        transition: .6s
    }

    .single-services-item .services-image .icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        transition: .6s
    }

    .single-services-item .services-image .icon a i {
        display: inline-block;
        height: 75px;
        width: 75px;
        line-height: 75px;
        background-color: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        color: #06a3da;
        font-size: 45px;
        text-align: center;
        border-radius: 50px;
        transition: .6s
    }

    .single-services-item .services-content {
        padding: 35px 20px
    }

    .single-services-item .services-content h3 {
        font-size: 25px;
        margin-bottom: 12px;
        font-weight: 500
    }

    .single-services-item .services-content h3 a {
        color: #222
    }

    .single-services-item .services-content p {
        font-size: 15px;
        margin-bottom: 20px
    }

    .single-services-item .services-content .default-btn {
        width: 100%;
        border-radius: 50px;
        text-align: center
    }

    .single-services-item:hover {
        transform: translateY(-10px)
    }

    .single-services-item:hover .services-image img {
        transform: rotate(2deg) scale(1.2)
    }

    .single-services-item:hover .services-image .icon i {
        background-color: #06a3da;
        color: #fff
    }

    .container {
        width: 100%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto
    }

    .single-services .services-image {
        position: relative;
        overflow: hidden
    }

    .single-services .services-image img {
        border-radius: 10px 10px 0 0;
        transition: .6s
    }

    .single-services .services-image .icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        transition: .6s
    }

    .single-services .services-image .icon a i {
        display: inline-block;
        height: 75px;
        width: 75px;
        line-height: 75px;
        background-color: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        color: #06a3da;
        font-size: 45px;
        text-align: center;
        border-radius: 50px;
        transition: .6s
    }

    .single-services:hover .services-image img {
        transform: rotate(2deg) scale(1.2)
    }

    .single-services:hover .services-image .icon i {
        background-color: #06a3da;
        color: #fff
    }

    .single-services-item .services-image {
        position: relative;
        overflow: hidden
    }

    .single-services-item .services-image img {
        border-radius: 10px;
        transition: .6s
    }

    .single-services-item .services-image .icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        transition: .6s
    }

    .single-services-item .services-image .icon a i {
        display: inline-block;
        height: 75px;
        width: 75px;
        line-height: 75px;
        background-color: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        color: #06a3da;
        font-size: 45px;
        text-align: center;
        border-radius: 50px;
        transition: .6s
    }

    .single-services-item:hover .services-image img {
        transform: rotate(2deg) scale(1.2)
    }

    .single-services-item:hover .services-image .icon i {
        background-color: #06a3da;
        color: #fff
    }

    .single-services .services-content {
        background-color: #fff;
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
        padding: 30px;
        border-bottom: 1px solid #06a3da;
        border-radius: 0 0 10px 10px;
        transition: .6s
    }

    .single-services .services-content h3 {
        font-size: 25px;
        margin-bottom: 12px;
        font-weight: 500
    }

    .single-services .services-content h3 a {
        color: #222
    }

    .single-services .services-content p {
        font-size: 15px;
        transition: .6s
    }

    .single-services:hover .services-content {
        background-color: #06a3da
    }

    .single-services:hover .services-content h3 a,
    .single-services:hover .services-content p {
        color: #fff
    }

    .single-services-item .services-content {
        padding: 35px 20px
    }

    .single-services-item .services-content h3 {
        font-size: 25px;
        margin-bottom: 12px;
        font-weight: 500
    }

    .single-services-item .services-content h3 a {
        color: #222
    }

    .single-services-item .services-content p {
        font-size: 15px;
        margin-bottom: 20px
    }

    .single-services-item .services-content .default-btn {
        width: 100%;
        border-radius: 50px;
        text-align: center
    }

    .services-details-image img {
        border-radius: 30px;
    }

    .services-details-content {
        margin-top: 30px;
    }

    .detail-prgh {

        margin-bottom: 15px;
        line-height: 1.8;
        color: #6a6c72;
        font-weight: 400;
        font-family: Poppins, sans-serif;
        font-size: 16px;

    }

    .services-details-list {
        padding-left: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .services-details-list li {
        list-style-type: none;
        position: relative;
        padding-left: 45px;
        margin-bottom: 30px;
    }

    .services-details-list li i {
        display: inline-block;
        position: absolute;
        top: -8px;
        left: 0;
        height: 35px;
        width: 35px;
        line-height: 38px;
        background-color: #06a3da;
        color: #fff;
        font-size: 16px;
        text-align: center;
        border-radius: 50px;
    }

    .single-gallery {
        position: relative;
        margin-bottom: 30px;
        transition: .6s;
    }

    .single-gallery .content,
    .single-gallery:before {
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        transition: .6s;
    }

    .single-gallery:before {
        content: "";
        background: linear-gradient(180deg, transparent, #000);
        height: 95%;
        z-index: 1;
        border-radius: 10px;
    }

    .single-gallery img {
        border-radius: 10px;
    }

    .single-gallery .content {
        right: 0;
        padding: 30px;
        z-index: 5;
    }

    .single-gallery .content,
    .single-gallery:before {
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        transition: .6s;
    }

    .single-gallery .content h3 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .single-gallery .content span {
        color: #fff;
        font-size: 15px;
    }

    .single-gallery .content .icon {
        margin-top: 15px;
    }

    .single-gallery:hover {
        transform: translateY(-10px);
    }

    .single-gallery:hover .content {
        bottom: 5px;
    }

    .single-gallery .content h3 a {
        color: #fff;
        text-decoration: none;
    }

    .single-gallery .content .icon a img {
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        background-color: #fff;
        color: #06a3da;
        text-align: center;
        font-size: 25px;
        border-radius: 50px;
        transition: .6s;
    }

    .single-gallery .content .icon a img:hover {
        background-color: #06a3da;
        color: #fff;
    }

    @media(min-width:576px) {

        .container {
            max-width: 540px
        }
    }

    @media only screen and (max-width:767px) {
        .single-services .services-content {
            height: 100% !important;
            padding: 30px 25px
        }

        .single-services .services-content h3 {
            font-size: 22px
        }

        .single-services .services-content p {
            font-size: 14px
        }

        .single-services .services-content {
            padding: 35px 25px
        }

        .single-services .services-content p {
            font-size: 14px
        }

        .single-services-item .services-content {
            padding: 35px 15px
        }

        .single-services-item .services-content {
            padding: 35px 15px
        }

        .single-services-item .services-content h3 {
            font-size: 22px
        }
    }

    @media(min-width:768px) {

        .container {
            max-width: 720px
        }
    }

    @media(min-width:992px) {

        .container {
            max-width: 960px
        }
    }

    @media(min-width:1200px) {

        .container {
            max-width: 1140px
        }
    }

    @media(min-width:1400px) {

        .container {
            max-width: 1320px
        }
    }

    @media only screen and (min-width:992px)and (max-width:1199px) {

        .single-services .services-content {
            padding: 35px 25px
        }

        .single-services .services-content p {
            font-size: 14px
        }



        .single-services-box {
            padding: 25px
        }



        .single-services-item .services-content {
            padding: 35px 15px
        }
    }

    /* portfolio css start  */